@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Macondo&display=swap');

* {
  box-sizing:border-box;
  background-size: 190%;
  font-family: 'Macondo', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
